<!DOCTYPE html>
<html>

<head>
  <title>
    Quiz
  </title>
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/jquery-ui.min.js"></script>
  <script src="scripts/angular.min.js"></script>

  <script src="questions.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

  <script src="scripts/main.js"></script>
  <style>
    h1 {
      text-align: center;
    }

    .center {
      margin-left: auto;
      margin-right: auto;
    }
  </style>

  <script type="text/javascript">
    if (jQuery && jQuery) {
      $j = jQuery;
    }
  </script>
</head>

<body ng-app="main">
  <div class="container">
    <div class="content">
      <div ng-controller="mainController">
        <input ng-show="!quizStart" ng-click="start()" class="btn btn-default" type="button" value="Begin" />
        <div ng-show="quizStart && !quizComplete">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Answer the following questions:</h3>
            </div>
            <div class="panel-body">
              <p class="lead">
                Q{{current_index + 1}}. {{current_question.question_stem}}
              </p>
              <a ng-click="rightClick()" class="btn btn-default" type="button">
                <div ng-bind-html="current_question.correct_response | to_trusted"></div>
              </a>
              <a ng-click="wrongClick()" class="btn btn-default" type="button">
                <div ng-bind-html="current_question.incorrect_response | to_trusted"></div>
              </a>
              <br/>
              <img ng-src="{{current_question.image}}" style="max-width:250px;" />
            </div>
          </div>
        </div>
        <div ng-show="quizComplete">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">RESULTS:</h3>
            </div>
            <div class="panel-body">
              <table class="table">
                <tr>
                  <th>
                    Question Number
                  </th>
                  <th>
                    Correct
                  </th>
                  <th>
                    Time(ms)
                  </th>
                </tr>
                <tr ng-repeat="t in times">
                  <td>
                    {{$index + 1}}
                  </td>
                  <th>
                    <i ng-if="correct[$index]" class="fa fa-check" style="color:green;"></i>
                    <i ng-if="!correct[$index]" class="fa fa-times" style="color:red;"></i>
                  </th>
                  <td>
                    {{t}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>


</html>
